*{
  font-family: Arial, Helvetica, sans-serif;
}
.box{
  background-color:#212121;
  padding: 20px;
  width: 100%;
  color: black;
}
.box .auth{
    /* font-size: larger; */
    text-align: center;
    margin-bottom: 4%;
}
.body{
  background-color: #212121 !important;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body{
  background-color: #212121;
  color: white;
}

.container1 {
  display: flex;
  justify-content: space-around; /* Space between the forms */
  gap: 20px; /* Space between the forms */
  margin-top:3%;
  flex-wrap: wrap;

}

.login-form, .signup-form {
  flex: 1; /* Allow both forms to take equal space */
  max-width: 400px; /* Set a maximum width for each form */
  background-color: aliceblue;
  padding: 2%;
  border-radius: 4%;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
}
.login-form1, .signup-form1 {
  flex: 1; /* Allow both forms to take equal space */
  max-width: 400px; /* Set a maximum width for each form */
  background-color: aliceblue;
  padding: 2%;
  border: 1px solid #cccaca;
  border-radius: 4%;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}
a {
  text-decoration: none;
}